{% extends "hub/base.html" %}

{% block content %} 

<div class="row">
    <div class="col-5">
        <h1>Students List</h1>
        <h3>Total: {{ object_list|length }} </h3>
    </div>
    <div class="offset-4 col-2">
        <a href="{% url 'student_Create' %}" class="btn btn-dark mt-5">Add</a>
    </div>
</div>
<hr>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        
        {% for s in object_list %}
        <tr>
            <td scope="row">{{ s.username }}</td>
            <td>{{ s.first_name }} </td>
            <td>{{ s.last_name }} </td>
            <td>{{ s.email }} </td>
            <td>
                <a href="{% url 'student_Update' s.id %}" class="btn btn-secondary">Edit</a>
            </td>
            <td>
                <a href="{% url 'student_Delete' s.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>


{% endblock %}